*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-main: "Roboto", sans-serif;
  --font-accent: "Ubuntu", sans-serif;

  --font-sizeMobile: 14px;

  /* DARK THEME */
  --color-text-dark: #aaa8b1;
  --color-heading-dark: #fff;
  --color-bg-dark: rgb(32, 31, 34);

  /* LIGHT THEME */
  --color-text: #aaa8b1;
  --color-heading: #333333;
  --color-bg: #f3f4f6;

  --container-width: 1200px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

@media (max-width: 426px) {
  .header {
    margin: 10px;
    margin-bottom: 15px;
  }

  body {
    font-size: var(--font-sizeMobile);
  }

  .main__input,
  .main__created-input {
    width: 250px;
    height: 30px;
  }

  .main__todo-wrapper {
    min-height: 250px;
  }

  .main__task-wrapper {
    margin-bottom: 50px;
  }

  .main {
    margin-bottom: 160px;
  }

  .main__todo-element {
    width: 250px;
  }

  .main__task-wrapper {
    gap: 20px;
  }

  .main__button {
    padding: 6px 12.5px;
  }

  .main__todo-wrapper {
    margin: 0 20px;
  }

  .main__todo-wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .main__p {
    text-align: center;
  }

  .main__add-icon {
    width: 50px;
    height: 50px;
  }

  .main__basket-icon {
    width: 50px;
    height: 50px;
  }

  .main__todo-element {
    padding: 5px 10px;
  }
}

@media (min-width: 426px) {
  .header {
    margin: 10px;
    margin-bottom: 150px;
  }

  .main__input,
  .main__created-input {
    width: 400px;
    height: 40px;
  }

  .main__todo-wrapper {
    min-height: 512px;
  }

  .main__task-wrapper {
    margin-bottom: 100px;
  }

  .main {
    margin-bottom: 370px;
  }

  .main__todo-element {
    width: 531px;
  }

  .main__task-wrapper {
    gap: 50px;
  }

  .main__button {
    padding: 10px 20px;
  }

  .main__todo-wrapper {
    flex-direction: row;
  }

  .main__add-icon {
    width: 60px;
    height: 60px;
  }

  .main__basket-icon {
    width: 60px;
    height: 60px;
  }

  .main__todo-element {
    padding: 10px 20px;
  }
}

body {
  font-family: var(--font-main);
  color: var(--color-text);
  line-height: 1.5;
  background-color: var(--color-bg);
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  border: none;
  background: none;
}

input {
  border: none;
  font-family: inherit;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

.no-scroll {
  overflow: hidden;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
}

.header {
  border-radius: 16px;
}

.header__content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.header__title {
  color: var(--color-heading);
  font-family: var(--font-accent);
  font-size: 34px;
  letter-spacing: 3.4px;
}

.dark .header__title {
  color: var(--color-heading-dark);
}

.header__img-wrapper {
  margin-left: auto;
}

.header__svg {
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.header__svg:hover {
  color: #1c274c;
}

.dark .header__svg:hover {
  color: #fff;
}

.main__input,
.main__created-input {
  padding: 10px 10px;
  box-shadow: 0 1px 1px 1px rgb(160, 158, 158);
  border-radius: 8px;
  transition: all 0.2s ease;
}

.dark .main__input,
.dark .main__created-input {
  background-color: #333333;
  color: #fff;
}

.main__input:focus,
.main__created-input:focus {
  outline: none;
  border: 1px solid rgb(110, 110, 110);
  box-shadow: 0 0 6px rgb(110, 110, 110);
  transform: scale(1.02);
}

.dark .main__input:focus,
.dark .main__created-input:focus {
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0 0 6px rgb(255, 255, 255);
  background-color: #333333;
}

.main__button {
  border: 1px solid grey;
  color: #fff;
  font-size: 15px;
  border-radius: 8px;
  background-color: #000;
  transition: all 0.3s ease;
}

.main__button:hover {
  color: #000;
  background-color: #fff;
}

.main__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__task-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main__todo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__todo-wrapper.active {
  flex-direction: column;
  gap: 1.25rem;
}

.footer__content-wrapper {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 30px;
}

body.dark {
  background-color: var(--color-bg-dark);
  color: #aaa8b1;
}

.hide {
  display: none;
}

.main__todo-element {
  color: black;
}

.dark .main__todo-element {
  color: #fff;
}

.main__todo-element-wrapper {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 2px 2px;
}

.dark .main__todo-element-wrapper {
  background-color: #333333;
}

.main__add-icon {
  cursor: pointer;
}

.main__basket-icon {
  cursor: pointer;
}

.dark .main__add-icon {
  color: white;
}

.dark .main__basket-icon {
  color: white;
}

summary {
  /* list-style: none; */
  padding: 5px;
  cursor: pointer;
}

ul {
  list-style: none;
}

.main__element-li {
  padding: 10px 0;
  padding-left: 40px;
}

.main__created-input {
  margin: 10px 0px 10px 35px;
  width: 100%;
}

/* .main__element-checkbox {
} */

.main__element-label {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.checked {
  text-decoration: line-through;
}

/* .dark .checked {
  text-decoration-color: #000;
} */
